.sub-footer{
    background: #2b2b2b;
   padding: 2% 0;
    text-align: center;
    color:white;
   

}

.sub-footer p{
    margin: 0 auto;
}

@media (min-width: 769px){
    .sub-footer{
        padding: 1%;
    }
}