footer{
    background:#000000;
    color: #ffffff;
}

.footer-top img{
    width: 30%;
    
}

.list{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; */
    
}
/* .list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} */

.list li{
    border: 1px solid black;
    /* width: 30%; */
    list-style: none;
    padding-left: 10%;
    margin: 2% 0;
} 

.list a{
    text-decoration: none;
    color: #ffffff;
}