
.nav_icons{
    display: flex;
    justify-content: space-between;  
   
 }



.size:hover{
    color: #ff0000;
}

.size a {
    color: #000000;
}

.size a:hover{
    color: #ff0000;
    
}


@media (min-width: 700px){


    .nav_icons{
        width: 60%;
     
    }

    .navbar_logo img{
        width: 240px;
      
     
     }



}