.navbar{
    display: flex;
    justify-content: space-between;
    
    
}

.navbar_logo{
    width: 50%;
}

.navbar_logo img{
    width:90%;
}


.nav_icons{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 50%;
 }

.size:hover{
    color: #ff0000;
}

.size a {
    color: #000000;
}

.size a:hover{
    color: #ff0000;
    
}


@media (min-width: 700px){
    
    .navbar_logo img{
        width: 240px;
      
     
     }

     .navbar_logo{
         width: 60%;

     }

     .nav_icons{
         width: 20%;
     }



}